# Ignore dataset folder
dataset/
checkpoint/resnet_18/
checkpoint/mobilenet_v2/
checkpoint/my_model/
output.mp4/
dashboard/
video/
font/
docs/
test_data/

# Ignore other files or folders
*.log
*.csv
*.sqlite
